*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    /*color: #47a3da;*/
    color: #182532;
     overflow: scroll;
}
::-webkit-scrollbar{
display:none;
}

.tit{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100vh;
  font-size: 4rem;
}

/*返回顶部*/
#gotop{
    display:none;
    width:6rem;
    height:6rem;
    position:fixed;
    right:5rem;
    bottom:7rem;
    border-radius: 3rem;
    border: 1px dashed #182532;
    background:url(../img/z.png) no-repeat;
    background-size:  100% 100%;
    z-index: 100;
    cursor: pointer;
}

/*菜单*/
.titlist{
    position: absolute;
    font-size: 2rem;
    top: 18vh;
    right: 18vw;
}

.titlist a{
    color: #333;
    text-decoration: none;
}

@media all and (max-width: 800px){
    .tit{
        font-size: 1.8rem;
    }
    .titlist{
        position: absolute;
        font-size: 1.5rem;
        top: 18vh;
        right:1rem;
    }

    .titlist a{
        color: #333;
        text-decoration: none;
    }
    #gotop{
        width:4.6rem;
        height:4.6rem;
        right:0;
        border-radius: 2.3rem;
    }
}