html,body{
  height: 100%;
}
html{
  font-size: 1vw;
}
body{
  color: #182532;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color: #182532;
}

a:hover{
  color: #eb4e32;
}

.bigboom{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16rem;
  font-weight: 600;
  color: #182532;
  letter-spacing: 1.5rem;
  display: flex;
  justify-content:center;
  align-items: center;
  border-bottom:1px dashed #182532;
}

.md_header{
  width: 100%;
  height: 100%;
  border-bottom:1px dashed #182532;
  margin-bottom: 6rem;
}
.header{
  width: 72%;
  height: 6rem;
  line-height: 6rem;
  font-size: 5rem;
  font-weight: 700;
  color: #182532;
  letter-spacing: 0.5rem;
  margin: 3rem auto;
}

.gos{
  float: right;
  letter-spacing: 0.1rem;
  line-height: 6rem;
  font-size: 3rem;
}

.big_gos{
  text-align: right;
  position: absolute;
  right: 14%;
  top: 15%;
  font-size: 4rem;
}
.md_title{
  height: 10rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  color: #182532;
  letter-spacing: 0.3rem;
  margin: 8rem auto 6rem auto;
  display: flex;
  justify-content:center;
  align-items: center;
}


.md_meta{
  width: 72%;
  text-align: right;
  font-size: 2rem;
  margin: 0 auto;
}

.md_tag{
  width: 72%;
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto ;
}
.md_hr{
  height:1px;
  width: 100%;
  border:none;
  border-top:1px dashed #182532;
  margin: 6rem auto;
}
.md_content{
  width: 72%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.footer{
  width: 72%;
  height: 6rem;
  line-height: 6rem;
  margin: 0 auto;
  text-align: center;
}

.main{
  width: 76%;
  margin: 0 auto;
  padding: 3rem 0;
}

.list{
  width: 100%;
  margin: 6rem 0;
}

.list_tit{
  font-size: 4rem;
}

.list_{
  margin-top: 1rem;
  font-size: 1.5rem;
}
.tag{
  float: left;
}
.time{
  float: right;
}

@media all and (max-width: 1200px){
  .md_content{
    width: 88%;
  }
  .md_hr{
    width: 100%;
  }
  .md_title{
    margin: 8rem auto 6rem auto;
    line-height: 3rem;
  }
}
