html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  font-size: 1vw;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./font/SourceSansPro/SourceSansPro-Regular.otf');
}

body{
  color: #182532;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color: #182532;
}

a:hover{
  color: #eb4e32;
}

img {
    max-width: 72vw;
}

.cons{
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
}

/*顶部*/
.top{
  width: 72%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction:column ;
}

.gos{
  width: 100%;
  text-align: right;
  position: absolute;
  right: 14%;
  top: 15%;
  letter-spacing: 0.1rem;
  line-height: 6rem;
  font-size: 3rem;
}


.siteTit{
  width: 100%;
  text-align: center;
  font-size: 16rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
  background-color: #182532;
  color: #fff;
}

.tit{
  width: 100%;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  color: #182532;
  letter-spacing: 0.3rem;
}

/*滑动条*/
.boo{
  width: 100%;
  height: 4px;
  border-radius: 3px;
  position: relative;
  background: lightblue;
  overflow: hidden;
  margin: 6rem auto;
}

.boo>span{
  display:block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: lightgreen;
  -webkit-animation: changePosition 4s linear infinite;
}

@-webkit-keyframes changePosition{
  0%{
    -webkit-transform: translate(-100%);
  }
  50%{
    -webkit-transform: translate(0);
  }
  100%{
    -webkit-transform: translate(100%);
  }
}
/* border-bottom:1px dashed #182532;*/

/*正文*/
.con{
  width: 72%;
  margin: 0 auto;
  font-size: 1.5rem;
}

/*页脚*/
.footer{
  width: 72%;
  height: 6rem;
  line-height: 6rem;
  margin: 0 auto;
  text-align: center;
}

/*列表*/
.main{
  width: 72%;
  margin: 0 auto;
  padding: 2.7rem 0;
}

.list{
  width: 100%;
  margin: 2.4rem 0;
}

.list_tit{
  height: 6.3rem;
  line-height: 6.3rem;
  font-size: 3.2rem;
}

.list_info{
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  width: 100%;
}

.list_time{
  text-align: right;
  float: right;
}

/*标签云*/
.tagdiv{
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

/*返回顶部*/
#gotop{
    display:none;
    width:6rem;
    height:6rem;
    position:fixed;
    right:6rem;
    bottom:9rem;
    border-radius: 3rem;
    border: 1px dashed #182532;
    background:url(../img/z.png) no-repeat;
    background-size:  100% 100%;
    z-index: 100;
}

/*表格*/
table{
   width:72vw;
}

tr td{
   border-top:1px dashed #aaa;
}
tr>td:first-child,tr>th:first-child {
   text-align:center;
   border-right:1px dashed #aaa;
}
tr{
   height:3rem;
   line-height:3rem;
}
@media all and (max-width: 800px){
  .gos{
    font-size: 5rem;  
  }
  .siteTit{
    background-color: #FFF;
    color: #182532;
  }
  .tit{
    font-size: 7rem;
  }
  .main{
    width: 81%;
  }

  .list_tit{
    height: 2rem;
    line-height: 2rem;
    font-size: 6rem;
  }
  #gotop{
    right: 1rem;
    bottom: 1rem;
  }
  .con{
    width: 89%;
  }
}
