{{ partial "header.html" . }}

<div class="md_header">
	<div class="header">
		<a href="/">{{ .Site.Title}}</a>
		<div class="gos">
			<span class="go"><a href="/">Home</a></span>
			<span class="go"><a href="/tags">Tags</a></span>
			<span class="go"><a href="/about">About</a></span>
		</div>
	</div>

	<div class="md_title">{{ .Title }}</div>

	<div class="md_tag">
		{{ range .Params.tags }}
			<span> <a href="/tags/{{ . | urlize }}">/{{ . }}</a></span>
		{{ end }}
	</div>

	<div class="md_meta">
		{{ .Date.Format "1月2日 2006" }}
	</div>
</div>

<div class="con">
	<div class="md_content">
		{{ .Content }}
	</div>
</div>

{{ partial "footer.html" . }}
