<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  <title>404</title>
</head>
<body>
<div class="top">

	<div class="gos">
		<span class="go"><a href="/">Home</a></span>
		<span class="go"><a href="/tags">Tags</a></span>
		<span class="go"><a href="/about">About</a></span>
	</div>
	
  <div class="siteTit">
    404
  </div>

</div>
</body>
</html>
